{% extends 'base.html.twig' %}

{% block title %}AS GEA - Page d'accueil{% endblock %}

{% block body %}

    <div id="accueil_landing">
        <div id="content">
            <h1>Année Spéciale GEA</h1>
            <h2>
                Vous avez déjà un parcours universitaire et vous êtes intéressés par les domaines de l'économie,
                de la comptabilité ou de la gestion ? Alors le DUT GEA en année spéciale est peut être fait pour vous !
            </h2>
            <div class="callToAction">
                <a class="btn-orange" href="{{ path('formation') }}">
                    <span class="button_text">
                        EN SAVOIR +
                    </span>
                    <span class="material-icons">
                        expand_more
                    </span>
                </a>
                <a class="btn-corail" href="{{ path('Contact') }}">
                    <span class="button_text">
                        CONTACTER UN ÉTUDIANT
                    </span>
                    <span class="material-icons">
                        email
                    </span>
                </a>
            </div>
        </div>

        <div id="logoPC"></div>
    </div>

    <section id="recherche">
        <h2>
            Que recherchez-vous ?
        </h2>

        <div id="optionsRecherche">
            <div id="contenuFormation">
                <h3>
                    Lié à la formation
                </h3>

                <div class="actions">
                    <a href="{{ path('formation') }}#laFormation" class="btn">
                        <span class="button_text">
                            Qu'est-ce que l'AS GEA ?
                        </span>
                        <span class="material-icons">
                            school
                        </span>
                    </a>
                    <a href="{{ path('formation') }}#conditionsAcces" class="btn">
                        <span class="button_text">
                            Les conditions d'accès
                        </span>
                        <span class="material-icons">
                            ballot
                        </span>
                    </a>
                    <a href="{{ path('formation') }}#debouches" class="btn">
                        <span class="button_text">
                            Les débouchés
                        </span>
                        <span class="material-icons">
                            euro
                        </span>
                    </a>
                    <a href="https://iut-charlemagne.univ-lorraine.fr/gea/dut-gea-en-annee-speciale/" class="btn" target="_blank">
                        <span class="button_text">
                            Autre
                        </span>
                        <span class="material-icons">
                            live_help
                        </span>
                    </a>
                </div>
            </div>

            <div id="etudiants">
                <h3>
                    Avis d'étudiants de cette formation
                </h3>
                <div class="actions">
                    <a href="{{ path('formation') }}#testimonial" class="btn">
                        <span class="button_text">
                            Témoignages d'étudiants
                        </span>
                        <span class="material-icons">
                            format_quote
                        </span>
                    </a>
                    <a href="{{ path('Contact') }}" class="btn">
                        <span class="button_text">
                            Contacter un étudiant
                        </span>
                        <span class="material-icons">
                            email
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('assets/style/css/accueil.min.css') }}">
{% endblock %}
